<template>
  <div>
    <div class="field">
      <label class="label">Enter the full name here:</label>
      <div class="control">
        <input
          type="text"
          class="input"
          v-model="payload.attendee.name">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button
          class="button is-primary"
          @click="addAttendee">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import auth from '../auth'
export default {
  data() {
    return {
      payload: {
        attendee: {
          name: ''
        }
      }
    }
  },
  methods: {
    addAttendee() {
      axios.post('https://api.smithwienswedding.com/attendees', this.payload, { headers: auth.getAuthHeader() })
        .catch((err) => {
          console.error(err)
        })
        .then((response) => {
          this.payload.attendee.name = ''
          this.$emit('added', response.data)
        })
    }
  }
}
</script>

<style>

</style>
