<template>
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <add-attend @added="updateAttendees"></add-attend>
      </div>
      <div class="column">
        <button
          class="button is-danger is-pulled-right"
          @click="logout">Logout</button>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="is-size-1 has-text-centered">Total: {{ attendees.length }}</h1>
        <confirmed-chart
          :chartData="chartData"
          :options="chartOptions"
          :height="300"
        ></confirmed-chart>
        <div class="field has-text-centered">
          <button
            class="button is-small"
            @click="getData"
            >Update Chart</button>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column">
        <h1 class="is-size-1 has-text-centered">Unconfirmed</h1>
        <list-attend :attendees="unconfirmed"
          class="is-centered"
          @removed="removePerson(person)"></list-attend>
      </div>
      <div class="column">
        <h1 class="is-size-1 has-text-centered">Confirmed</h1>
        <list-attend :attendees="confirmed"
          class="is-centered"></list-attend>
      </div>
      <div class="column">
        <h1 class="is-size-1 has-text-centered">Declined</h1>
        <list-attend :attendees="declined"
          class="is-centered"></list-attend>
      </div>
    </div>
  </div>
</template>

<script>
import ConfirmedChart from './ConfirmedChart.js'
import AddAttend from './AddAttend.vue'
import ListAttend from './ListAttend.vue'
import auth from '../auth'
import axios from 'axios'

export default {
  data() {
    return {
      attendees: [],
      chartData: null,
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  computed: {
    unconfirmed() {
      return this.attendees.filter((attendee) => {
        let waiting = !attendee.confirmed && !attendee.visited;
        return waiting;
      })
    },
    confirmed() {
      return this.attendees.filter((attendee) => {
        let confirmedAndAttending = attendee.confirmed && attendee.visited;
        return confirmedAndAttending;
      })
    },
    declined() {
      return this.attendees.filter((attendee) => {
        let confirmedAndDeclined = !attendee.confirmed && attendee.visited;
        return confirmedAndDeclined;
      })
    }
  },
  components: {
    AddAttend,
    ConfirmedChart,
    ListAttend
  },
  methods: {
    getData() {
      axios.get('https://api.smithwienswedding.com/attendees', { headers: auth.getAuthHeader() })
        .then((response) => {
          this.attendees = response.data
          this.fillData()
        })
        .catch((err) => {
          console.error(err)
        })
    },
    removePerson(person) {
      let attendeeObj = this.attendees.find((attendee) => {
        return attendee._id === person._id
      });
      let attendeeInd = this.attendees.indexOf(attendeeObj);
      this.attendees.splice(attendeeInd, 1);
    },
    fillData() {
      this.chartData = {
        labels: ['Unconfirmed', 'Confirmed', 'Declined'],
        datasets: [
          {
            label: 'Invites',
            backgroundColor: ['#f87979', '#e0a8ca', '#000000'],
            data: [this.unconfirmed.length, this.confirmed.length, this.declined.length],
          }
        ]
      }
    },
    updateAttendees(value) {
      this.$toasted.show(value.name + ' added', { duration: 2000, position: 'top-left', type: 'success', theme: 'outline' })
      this.attendees.push(value);
      this.fillData();
    },
    logout() {
      auth.logout()
      this.$router.push({ path: '/' })
    }
  },
  created() {
    this.getData()
  }
}
</script>

<style>

</style>
