<template>
  <div>
    <ul class="people-list">
      <li
        v-for="(attendee, i) in attendees" :key="i"
        class="is-size-5 has-text-weight-light"
        :class="[attendee.confirmed ? isSuccess : isDanger]"
        @click="deleteAttendee(attendee._id)">{{ attendee.name }}</li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'
export default {
  props: [
    'attendees'
  ],
  data() {
    return {
      isSuccess: 'confirmed-person',
      isDanger: 'has-text-danger'
    }
  },
  methods: {
    deleteAttendee(id) {
      axios.delete('https://api.smithwienswedding.com/attendees/' + id, { headers: auth.getAuthHeader() })
        .catch((err) => {
          console.error(err)
        })
        .then((response) => {
          this.$emit('removed', response.data)
        })
    }
  }

}
</script>

<style>
.people-list {
  height: 60vh;
  width: 20vw;
  overflow-y: scroll;
  margin: 0 auto;
}
.confirmed-person {
  color: #e0a8ca;
}
</style>
