<template>
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <h2>Log In</h2>
        <div class="form-group">
          <div class="field">
            <div class="control">
              <input
                type="text"
                placeholder="Username"
                v-model="username"
                class="input"
                @keypress.enter="login">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                type="password"
                placeholder="Password"
                v-model="password"
                class="input"
                @keypress.enter="login">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" @click="login">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</template>

<script>
import auth from '../auth';
export default {
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login() {
      let creds = {
        username: this.username,
        password: this.password
      }
      auth.loginUser(creds, 'charts')
      this.username = ''
      this.password = ''
    }
  }
}
</script>

<style>

</style>
