<template>
  <div id="app">
    <router-view default="login"></router-view>
  </div>
</template>

<script>
import auth from './auth'
export default {
  name: 'app',
  data () {
    return {
    }
  }
}
</script>

<style>
  #app {
    margin-top: 2%;
  }
</style>
